<!DOCTYPE html>
<html>
  <% include ./partials/_headGops.ejs %>
  
  <body class="container">
    <nav class="nav navbar-inverse navbar-fixed-top">
      <div class="row" id="topNav">
        <% for (let id in players) { %>
          <div class="col-xs-<%= 12/Object.keys(players).length %>">
            <%= players[id].name %>: <%= players[id].score %>
          </div>
        <% } %>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-4 col-xs-0"></div>
      <div class="playingCards col-md-4 col-xs-6" id="prizes">
        <ul class="table">
          <% for (let id in players) { %>
            <% if (players[id].played) { %>
            <li>
              <div class="card back">
              </div>
            </li>
            <% } %>
          <% } %>
        </ul>
      </div>
      <div class="col-md-4 col-xs-6">

      </div>
    </div> <!-- close first row -->
    <div class="row"> 
      <div class="col-md-4 col-xs-2"></div>
      
      <div class="playingCards col-md-2 col-xs-4">
        <ul class="deck">
        <% for (let i = 0; i < playerHand.length - 1; i++) { %>
          <li>
            <div class="card back"></div>    
          </li>
        <% } %>
          <li>
            <div class="card rank-<%= currentPrize %> spades">
              <span class="rank"><%= currentPrize %></span>
              <span class="suit">&spades;</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-3" id="submit-card">
        <button class="btn btn-default" >Submit Card</button>
      </div>
    </div> <!-- close deck/prize row -->
    <div class="row">
      <div class="col-md-4 col-xs-0"></div>
      <div class="col-md-4 col-xs-12" id="hand">
        <div class="playingCards faceImages">
          <ul class="table">
            <% for (let i = 0; i < playerHand.length; i++) { %>
                <% if (playerHand[i] === null) {
                  continue
                } %>
                <% include ./partials/_playingCard.ejs %>
            <% } %>
          </ul> 
        </div>
      </div>
    </div> <!-- close hand row -->
  <% include ./partials/_footer.ejs %>